.auth-container{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a77ff;  
    min-height: 100vh;    
    overflow: hidden;
}

.auth__card{
    width: 100% ;
    max-width: 400px;
    background-color: #fff;
    margin-top: 40px;
    border-radius: 5px;
    
}
.auth__card-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.auth__header-link{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color:#738c8f;
    transition: all ease 0.5s;
    border-bottom: 2px solid #738c8f;
    &:hover{
         color:#000000;
    }
}
.auth__header-activelink{
    color: #000000;
    border-bottom: 2px solid #000000;
}
.login-form{
    display: flex;
    flex-direction: column;
    label{
    margin: 0px;
    padding: 0px 0px 8px;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 47, 52);
    }
    input{
        border-radius: 4px;
        border: 2px solid rgb(242, 244, 245);
        font-size: 16px;
        color: rgb(0, 47, 52);
        padding: 14px 48px 14px 16px;
        margin: 0 0 10px 0;
        background-color: #f2f4f5;
        outline: none;
        &:focus{
            border-bottom: 2px solid #000;
        }
    }
}
.singin-card, .create-card{
    padding: 0 2rem 2rem;
}
.auth-login{
    text-decoration: none;
    background: transparent;
    line-height: 20px;
    border: 0px;
    color: rgb(0, 47, 52);
    padding: 0px;
    font-family: Geomanist, sans-serif;
    font-size: 14px;
    font-weight: 500;
    &:hover{
        color: #002f34;
    }
}
.login__btn{
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 10px 0px 0px;
    min-height: 40px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    background-color: rgb(0, 47, 52);
    border: 5px solid #002f34;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 10px 30px 8px;
    transition: all 0.3s ease;
    &:hover{
        background-color: transparent;
        color:#002f34 ;
    }
}
.yoki{
    margin: 10px 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
    color: #002f34;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 16px;
    margin: 0px 24px;
    text-transform: uppercase;
    user-select: none;
    }
}
.yoki-line{
    width: 100%;
    border: 1px solid #000;    
}
.login-google{
    width: 100%;
    display: flex;
    padding: 12px;
    background-color: transparent;
    border: 2px solid #002f34;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        border-width: 5px;
        padding: 10px 0;
    }
}
.google-icon{
    font-size: 24px;
    
}
.google-title{
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 47, 52);
    margin-right: 10px;
    line-height: 18px;
}
.auth_title{
    font-size: 12px;
    line-height: 14px;
    color: rgb(0, 47, 52);
    margin: 32px 0px 0px;
    margin-bottom: 20px;
    a{
        
        font-size: 12px;
    font-weight: 600;
    color: rgb(0, 47, 52);
    text-decoration: none;
    }
}
.animation-box{
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transform: scale(0);
        background-color: transparent ;
        border: 10px solid #fff;
        animation: scaleout ease-in-out 1.5s forwards ;
    }

}

@keyframes scaleout {
    80%{
        transform: scale(16);
    }
    100%{
        transform: scale(14);
        opacity: 0.7;
    }
}